name: Run Tests

on:
  pull_request:
    branches: ["main"]
env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install g++12, fsanitize does not work with default g++-11.4.0
      run: |
        sudo apt-get update
        sudo apt-get install -y g++-12
        

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=Debug -DBUILD_TESTS=ON -DCMAKE_CXX_COMPILER=g++-12


    - name: Build
      run: cmake --build ${{github.workspace}}/build

    - name: Test
      run: ctest --test-dir ${{github.workspace}}/build/tests --output-on-failure

    - name: Archive test results
      uses: actions/upload-artifact@v4
      with:
        name: test-results
        path: ${{github.workspace}}/build/tests/Testing/Temporary/LastTest.log
